  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <h6>Previous Projects</h6>
          <ul class="footer-links">
            <li><a href="https://finalprojectpart1.azurewebsites.net/"><img src="https://seeklogo.com/images/1/18_Joe_Gibbs_Racing-logo-253AEA2E68-seeklogo.com.png"alt="ontariotechu" style="width:42px;height:42px;"> Proejct Part-1</a></li> </br>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
            <h6>Current Project</h6>
            <ul class="footer-links">
              <li><a href="https://finalprojectpart2.azurewebsites.net/"><img src="https://i.pinimg.com/originals/ea/46/5c/ea465caa4bf318571add05c86403f1f6.jpg"alt="ontariotechu" style="width:42px;height:42px;"> Proejct Part-2</a></li>
            </ul>
        </div>
        
        <div class="col-xs-6 col-md-3">
          <h6>Upcoming Project</h6>
          <ul class="footer-links">
            <li><a href="https://dev17b.github.io/UpcomingProjectPart3/HomePage.html"><img src="https://cdn.discordapp.com/attachments/941470332739530844/1047248467199807628/toppng.com-umber-18-images-kyle-busch-18-427x308.png"alt="ontariotechu" style="width:42px;height:42px;"> Proejct Part-3</a></li>
          </ul>
      </div>
        
      <div class="col-xs-6 col-md-3">
        <h6>About US</h6>
        <% if (title == "Group 18 Team"){ %>
            <a class="nav-link active" href="/Group18Team">
        <% } else { %>
            <a class="nav-link" href="/Group18Team">
        <% } %><img src="https://cdn.discordapp.com/attachments/941470332739530844/1047227392718020659/PikPng.com_circle-of-people-png_5141176.png"alt="ontariotechu" style="width:42px;height:42px;"> Group 18 Team</a>
    </div>

      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
       <a href="#">Group 18</a>.
          </p>
        </div>
      </div>
    </div>
</footer>