
    <section class="Information">
        <!-- for more content on page for user with button tag to make page more attractive/*-->
        <h2>Introduction</h2>
        <h2>This section covers Missions completed by the Mexico. the section contains four things about the mission which include the mission name, time period, team leader and description of the mission. the information provided here is based on open-source websites. On this page you can find information and instructions about the features we offer with our mini-Wikipedia like add mission information, edit and delete buttons. </h2>
    </section>

    <section class="Information">
        <!-- for more content on page for user with button tag to make page more attractive/*-->
        <h2>Add mission information</h2>
        <h2>In the Mexico missions section, you can find a button called 'Add mission information'. This button will create a space where you can the information about missions. the notes section includes four things Mission name, the time period, the Team leader's name and a description of the mission. In this section, you are required to fill out all four categories of the information. Once you are happy with your information you can click on the green button called 'Submit the information and your information will display on the main page of the section. </h2>
    </section>

    <section class="Information">
        <!-- for more content on page for user with button tag to make page more attractive/*-->
        <h2>Edit Button</h2>
        <h2>In the Mexico missions section, you can find a button called "Edit". This button will create a space where you can Edit the information about the mission that you selected. The Edit section includes four things Mission name, the time period, the Team leader's name and a description of the mission. In this section, you are not required to fill out all four categories of the information you can just edit the one that you wanted to edit. Once you are happy with your information you can click on the green button called 'Submit the information and your information will display on the main page of the section.</h2>
    </section>

    <section class="Information">
        <!-- for more content on page for user with button tag to make page more attractive/*-->
        <h2>Delete Button</h2>
        <h2>In the Mexico missions section, you can find a button called "Delete". This button will immediately delete your selected mission. When you click on ‘delete’ the section will delete the selected mission information but first, it asks you that ‘Are you sure?' and if you click 'yes' the mission information will delete permanently. You can delete any mission information according to your desire. </h2>
    </section>

    <section class="Information2">
        <!-- for more content on page for user with button tag to make page more attractive/*-->
        <h2>Have fun!</h2>
    </section>