<%- include partials/header.ejs %>  <!-- This line calling header.ejs -->
<%- include partials/main_nav.ejs %> <!-- This line calling Partials.ejs -->

<div class="AboutMeContant" id="about">
    <section class="intro">
        <!-- name of the page so user know where he is with button tag to make page more attractive/*-->
        <h1><img src="https://cdn.discordapp.com/attachments/941470332739530844/1047227392718020659/PikPng.com_circle-of-people-png_5141176.png"alt="aboutus" style="width:42px;height:42px;"> About Us</h1>
    </section>

    <main class="sidepic">
      <!-- when the user hovers over the image its will zoom /*-->
      <div class="zoom"> <img src="https://dev17b.github.io/Assignment-1by-Dev-P/Aboutme.jpg" alt="aboutmepic" /><h3>Dev Patel (100828640)</h3></div> 
      <div class="zoom"> <img src="https://images-ext-1.discordapp.net/external/bxFs0fWrKCXAWBKwu5amE4iXySOpihvWqUQxQJtNWh4/%3Fstp%3Ddst-jpg_e35_p1080x1080%26_nc_ht%3Dscontent.cdninstagram.com%26_nc_cat%3D101%26_nc_ohc%3DFqfcaiFSt3sAX_KqHDb%26edm%3DAJBgZrYBAAAA%26ccb%3D7-5%26oh%3D00_AfDJ0_gfXVj5888G7iwW1pONliXy1e3rxuA4ZGvc9g6Vgg%26oe%3D638179C1%26_nc_sid%3D78c662/https/scontent.cdninstagram.com/v/t51.2885-15/83544504_487708722176809_7087788640456202193_n.jpg?width=561&height=701" alt="aboutmepic" /><h3>Tonney Ochan (100818962)</h3></div>
      <div class="zoom"> <img src="https://cdn.discordapp.com/attachments/954786681251319878/1044286221549043712/IMG_9841.jpg" alt="aboutmepic" /><h3>David Ajimoko (100822615)</h3></div>
      <div class="zoom"> <img src="https://cdn.discordapp.com/attachments/1041720530803363870/1045123806206890065/IMG_4608.jpg" alt="aboutmepic" /><h3>Nicholas Poma (100829128)</h3></div>
    </main>

    
  <section class="iddevpatel">
    <h3> Dev Patel </h3>
    <!-- Instagram image with the link of my profile so users can contact me via Instagram , and it's for more credit /*-->
    <a href="https://www.instagram.com/devpatel889/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-1024.png" alt="Instagram"  style="width:45px;height:42px;"></a>  <br> 
    <!-- linkedin image with the link of my profile so users can contact me via Facebook, and it's for more credit /*-->
    <a href="https://www.linkedin.com/in/dev-patel-264359213?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BsOr4evt1TSOEHx36%2B05Xhg%3D%3D"><img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Linkedin_glyph_svg-1024.png" alt="Linkedin" style="width:42px;height:42px;"></a>  <br> 
    <!-- Facebook image with the link of my profile so users can contact me via Facebook, and it's for more credit /*-->
    <a href="https://www.facebook.com/people/Dev-Patel/100035432886921/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Facebook_svg-512.png" alt="facebook" style="width:42px;height:42px;"></a>  
    <!-- twitter image with the link of my profile so users can contact me via twitter , and it's for more credit /*-->
    <a href="https://twitter.com/Dev71104315"><img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-1024.png" alt="Twitter" style="width:42px;height:42px;"></a> 
  </section>

  <section class="iddtonney">
    <h3> Tonney Ochan </h3>
    <!-- Instagram image with the link of my profile so users can contact me via Instagram , and it's for more credit /*-->
    <a href="https://www.instagram.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-1024.png" alt="Instagram"  style="width:45px;height:42px;"></a>  
    <!-- linkedin image with the link of my profile so users can contact me via Facebook, and it's for more credit /*-->
    <a href="https://www.linkedin.com/"><img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Linkedin_glyph_svg-1024.png" alt="Linkedin" style="width:42px;height:42px;"></a>  <br>  <br>
    <!-- Facebook image with the link of my profile so users can contact me via Facebook, and it's for more credit /*-->
    <a href="https://www.facebook.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Facebook_svg-512.png" alt="facebook" style="width:42px;height:42px;"></a>  
    <!-- twitter image with the link of my profile so users can contact me via twitter , and it's for more credit /*-->
    <a href="https://twitter.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-1024.png" alt="Twitter" style="width:42px;height:42px;"></a>  <br>  <br>
  
  </section>

  <section class="iddevid">
    <h3> David Ajimoko </h3>
    <!-- Instagram image with the link of my profile so users can contact me via Instagram , and it's for more credit /*-->
    <a href="https://www.instagram.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-1024.png" alt="Instagram"  style="width:45px;height:42px;"></a>  <br> 
    <!-- linkedin image with the link of my profile so users can contact me via Facebook, and it's for more credit /*-->
    <a href="https://www.linkedin.com/"><img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Linkedin_glyph_svg-1024.png" alt="Linkedin" style="width:42px;height:42px;"></a> 
    <!-- Facebook image with the link of my profile so users can contact me via Facebook, and it's for more credit /*-->
    <a href="https://www.facebook.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Facebook_svg-512.png" alt="facebook" style="width:42px;height:42px;"></a>  <br> 
    <!-- twitter image with the link of my profile so users can contact me via twitter , and it's for more credit /*-->
    <a href="https://twitter.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-1024.png" alt="Twitter" style="width:42px;height:42px;"></a>  <br>
  </section>

  <section class="idNicholas">
    <h3> Nicholas Poma </h3>
    <!-- Instagram image with the link of my profile so users can contact me via Instagram , and it's for more credit /*-->
    <a href="https://www.instagram.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Instagram_svg-1024.png" alt="Instagram"  style="width:45px;height:42px;"></a>
    <!-- linkedin image with the link of my profile so users can contact me via Facebook, and it's for more credit /*-->
    <a href="https://www.linkedin.com/"><img src="https://cdn3.iconfinder.com/data/icons/social-media-black-white-2/512/BW_Linkedin_glyph_svg-1024.png" alt="Linkedin" style="width:42px;height:42px;"></a>   <br> 
    <!-- Facebook image with the link of my profile so users can contact me via Facebook, and it's for more credit /*-->
    <a href="https://www.facebook.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Facebook_svg-512.png" alt="facebook" style="width:42px;height:42px;"></a>  <br> 
    <!-- twitter image with the link of my profile so users can contact me via twitter , and it's for more credit /*-->
    <a href="https://twitter.com/"><img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Twitter_svg-1024.png" alt="Twitter" style="width:42px;height:42px;"></a>  <br>
  
  </section>

</div>