<%- include partials/header.ejs %>  <!-- This line calling header.ejs -->
<%- include partials/main_nav.ejs %> <!-- This line calling Partials.ejs -->

<div id="banner">

    <section class="intro">
        <!-- name of the page so user know where he is with button tag to make page more attractive/*-->
        <h1>Welcome to our Mini-Wikipedia</h1>
    </section>

    <section class="Assignment">
        <!-- name of the assignment and a student name and id number/*-->
        <h1>Project Part: 2 by Group 18</h1>
    </section>

    <section class="firstqoute">
        <!-- for more content on page for user/*-->
        <h1>“Software and cathedrals are much the same — first we build them, then we pray.”</h1>


    </section>

    <section class="thanks">
        <!-- the professor name and TA name for thanking them/*-->
        <h1>
            <span class="multicolor">Special thanks to:</span>
        </h1>
        <h4>Ontario tech university's</h4>
        <h1>Professor: Mr.Ahmed Sheikh</h1>
        <h1>TA: Ms.Tanzina Akter</h1>

    </section>

    <section class="Information">
        <!-- for more content on page for user with button tag to make page more attractive/*-->
        <h2>Introduction</h2>
        <h2>Hi everyone, this website is built as a mini-Wikipedia which covers missions completed by the USA, England and Mexico. This mini-Wikipedia includes a maximum of five missions completed by those countries. The information of missions will be pre-added. The website is designed based on CRUD operations so you can create, read, update and delete information without any difficulty. In order to get access to CRUD operation you need to sign-up and if you have a user account then you need to sign-in. More information about missions is provided in the sections, you can access those sections from the header at the top. have fun!</h2>
    </section>


    <%- include partials/footer.ejs %> <!-- This line calling footer.ejs -->
