<%- include ../partials/header.ejs %>  <!-- This line calling header.ejs -->
<%- include ../partials/main_nav.ejs %> <!-- This line calling Partials.ejs -->

<main class="container">
    <!-- Massage area-->
    <% if (message.lenth > 0) {%> 
    <div class="alert alter-danger">
        <%= message %>
    </div>
    <% } %>


    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Please Register</h1>
            <form method="post" autocomplete="off">
                <fieldset class="form-group">
                    <lable for="username"></lable>
                    <input type="text" class="form-control"
                    name="username"
                    placeholder="Enter the username"
                    id="username" required autofocus>
                </fieldset>

                <fieldset class="form-group">
                    <lable for="password"></lable>
                    <input type="password" class="form-control"
                    name="password"
                    placeholder="Enter the password"
                    id="password" required>
                </fieldset>

                <fieldset class="form-group">
                    <lable for="email"></lable>
                    <input type="email" class="form-control"
                    name="email"
                    placeholder="Enter your email"
                    id="email" required>
                </fieldset>

                <fieldset class="form-group">
                    <lable for="displayName"></lable>
                    <input type="displayName" class="form-control"
                    name="displayName"
                    placeholder="Enter the display name"
                    id="displayName" required>
                </fieldset>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success"
                    value="Register">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<%- include ../partials/footer.ejs %> <!-- This line calling footer.ejs -->

